# ignore generated database files
*.db

# ignore Python cache directories
__pycache__/

# ignore Python packaging/build artifacts
*.egg-info/
.eggs/
*.pyc
*.pyo

# ignore test files in test directory
test/

# ignore build files and distribution files (executables)
build/
dist/
plugins/
WalrioLite.spec
WalrioMain.spec
gstreamer_config.txt