# ignore generated database files
*.db

# ignore Python cache directories
__pycache__/

# ignore generated documentation files
docs/source/cli_usage.rst

# ignore build files and distribution files (executables)
build/
dist/
plugins/
WalrioLite.spec
WalrioMain.spec